.LeftBarInner {
    background: linear-gradient(360deg, #e4e4e4, #ffffff);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
}
div#LeftBar {
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
}

.tools-bt {
    width: 45px;
    height: 45px;
    background: black;
    margin: auto;
    border-radius: 14px;
    margin-top: 10px;
}